body{
    min-width: 600px;
    background-color: rgb(40,40,40);
    color:white;
    margin: 0;
}

/* 상단메뉴 */
nav{
    background-color: white;
    text-align: center;
    margin-bottom: 15pt;
    padding-top: 0.5%;
    /* padding-bottom: 15px; */
}

nav ul{
    background-color: white;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
}

nav ul li{
    background-color: white;
    flex: 1 1 auto;
    text-align: center;
    /* padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;  */
    padding: auto;
    margin: auto;
    font-weight: bold;
    font-size: 15pt;
}

nav ul li:hover{
    background-color: rgb(208, 43, 84);
    border-radius: 10px;
}

/* 메인화면 */
.intro{
    text-align: center;
    margin-top: 10%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: bold;
    height: 530px;
}

#title{
    color: rgb(208, 43, 84);
    font-size: 90px;
}

#direction{
    text-decoration: none;
    font-size: 50px;
    color: white;
    text-align:center;
    margin:0;
    padding:0;
}

/* title color */
.title_B{
    text-align: center;
    color: rgb(65,135,166);
    text-decoration-line: underline;
    text-decoration-color: white;
    font-size: 40px;
}

.title_P{
    text-align: center;
    color: rgb(208, 43, 84);
    text-decoration-line: underline;
    text-decoration-color: white;
    font-size: 40px;
}

/* About me */
#AboutMe{
    text-align: center;
    margin: auto;
    font-size : 25px;
}

/* Activities */
#Activities{
    text-align: center;
}
#Activities h3{ 
    font-size: 22pt;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 1%;
}

#title_AC{
    margin-bottom:0;
}

#details{
    margin-top:0;
    color: rgb(156, 156, 156);
}
.ac_content{
    margin-left: 15%;
    margin-right: 5%;
    display: flex;
    flex-basis: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.list:hover{
    border-color: rgb(208, 43, 84);
    color: rgb(208, 43, 84);
    background-color: rgb(40,40,40,0.9);
}

.list{
    font-size: 18pt;
    vertical-align: middle;
    border: 3px solid white;
    margin: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 250px;
    border-radius: 10pt;
}
@media screen and (max-width: 850px){ /*small window*/
    .list{
        font-size: 12.5pt;
        margin: 2%;
        width: 160px;
    }
}

.more{
    font-size: 13pt;
    position:absolute;
    text-align:left;
    display:none;
    float:left;
    padding: 30px;
    margin-left:10%;
    min-width: 400px;
    max-width: 570px;
    /* min-height: 400px; */
    line-height: 200%;
    background-color: rgb(40,40,40, 0.98);
    border: 3px solid rgb(74, 161, 199);
    border-radius: 10pt;
}

.more a{

    color: white;
    text-align: center;
}

.close{
    border: 2px solid white;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 5pt;
}

.close:hover{
    border:2px solid rgb(74, 161, 199);
    color: rgb(74, 161, 199);
}



/* Skills */
#Skills{
    font-size: 24px;
    font-weight: bold;
    margin:auto;
    box-sizing: border-box;
    margin-left: 5%;
}

.sk{
    color: rgb(74, 161, 199);
}

.content{
    margin-left: 2%;
}

.content > p{
    margin-bottom: 1%;
    font-weight: normal;
}

.box{
    width:75%;
    border-radius: 10px;
    border: solid 2px white;
    margin-left: 2%;
}

.skill{
    border-radius: 9px;
    text-align: right;
    padding: 1%;
    font-size: 18px;
    background-color: rgb(208, 43, 84);
}

.C{width: 75%;}
.Py{width: 98%;}
.Java{width: 50%;}
.hc{width: 75%;}
.ppt{width: 98%;}
.excel{width: 90%;}
.word{width: 98%;}

/* contents */
#ct_content{
    text-decoration: none;
    font-size: 22px;
    text-align: center;
}
#ct_content > a{
    color: white;
}
